# Exercise #1


Filter out all of the empty strings from the list below

Output: ['Argentina', 'San Diego', 'Boston', 'New York']

In [6]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

def emptyString(f,alist):
    nPlaces = []
    for name in alist:
        if name.strip():
            nPlaces.append(name)       
    return nPlaces





            
emptyString(lambda x:True if not name.strip() else False,places)

['Argentina', 'San Diego', 'Boston', 'New York']

# Exercise #2

Write an anonymous function that sorts this list by the last name...
Hint: Use the ".sort()" method and access the key"

Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

In [33]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

# print(author)
# author.sort(key = lambda x: x.split()[-1])
# print(author)

# dont forget sort has two parameters. key and reverse. 
# use lambda , split splits the elements and -1 uses the last element which ends up being the last name
#lower() AFTER split  to dummy proof.
def order(alist):   
    alist.sort(key = lambda x: x.split()[-1].lower() )
    
    return str(alist)

order(author)
    



    



# print(list(((lambda f, alist: alist.sort() for key in alist,author))))

"['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']"

# Exercise #3

Convert the list below from Celsius to Farhenheit, using the map function with a lambda...

Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

In [35]:
# F = (9/5)*C + 32
#index through tuple add apply the formula
#create new list

places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

# for x in places:
#     nPlaces = []
#     print(x[-1])
#     print((9/5) * x[-1] +32 )
#     print(places)

# def conversion(alist):
#     nPlaces = []
#     for x in places: 
#         nPlaces.append(x)*(9/5) + 32

#     return(nPlaces)


# conversion(places)

# def conversion(alist):
#     for x in alist:
#         print (x[0],x[-1] *(9/5) + 32)
#         return alist
#         print(alist)
    
def conversion(alist):
    for x in alist:
        print (x[0],x[-1] *(9/5) + 32)


    
       

conversion(places)

print(list(map(lambda x:  (x[0],x[-1] *(9/5) + 32) ,places )))


# conversion(places)

Nashua 89.6
Boston 53.6
Los Angelos 111.2
Miami 84.2
[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

# Exercise #4

Write a recursion function to perform the fibonacci sequence up to the number passed in.

In [ ]:
Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8